extends layout

block content
  h1= title

  ul
  each item in item_list
    li #{item.item}
    form.delete-meeting-form(method='POST' action=`/api/items/${item._id}?_method=DELETE`)
      input.button.button--delete(type='submit' value='Delete')

  else
    li There are no Groceries yet.

  h2 Groceries handling
  form( method="POST" action="/api/items")
    input(type="text" name="item")
    input(type="submit" value="Add item")
            
